<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077656038468-aobfff4mfbfe4k7emg8702ir1dcatd4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077656038468-aobfff4mfbfe4k7emg8702ir1dcatd4i</string>
	<key>API_KEY</key>
	<string>AIzaSyA-dN8c9Vfh9421vS3M4vYc43nnc9kkAEE</string>
	<key>GCM_SENDER_ID</key>
	<string>1077656038468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFinanceApp</string>
	<key>PROJECT_ID</key>
	<string>apppsss994</string>
	<key>STORAGE_BUCKET</key>
	<string>apppsss994.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077656038468:ios:8299e86c564d79d9326011</string>
</dict>
</plist>